[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
requests = "*"
pycryptodome = "*"
apscheduler = "*"
sqlalchemy = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.9"
